.avatar{
    width: 100px;
    height: 100px;
}
.post-image {
  height: 150px;
  object-fit: cover;
}
.saved-post-card {
  position: relative;
}
.post-user-badge {
  position: absolute;
  bottom: 5px;
}

