<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item detail="true" id="edit-profile" lines="full">Edit Profile</ion-item>
      <ion-item lines="full">
        <ion-toggle
          [checked]="paletteToggle"
          (ionChange)="toggleChange($event)"
          justify="space-between"
          mode="ios"
          >Dark Mode</ion-toggle
        >
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-note class="ion-margin-start" slot="start">Vibo v1.0</ion-note>
      <ion-buttons slot="end">
        <ion-button id="logoutAlert" color="danger"
          >Logout<ion-icon
            size="default"
            color="danger"
            name="log-out-outline"
          ></ion-icon
        ></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar mode="md">
      <ion-title>{{userName}}</ion-title>
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon name="settings-outline" size="large"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" mode="ios">
      <ion-refresher-content
        refreshingSpinner="circles"
        refreshingText="Refreshing..."
      ></ion-refresher-content>
    </ion-refresher>
    <ion-loading></ion-loading>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto" class="ion-text-center">
          <ion-avatar class="avatar">
            <img
              [src]="userDetails?.profilePic || '../../assets/profile.webp'"
            />
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-text-center">
          <ion-text>
            <h2>{{userDetails?.name}}</h2>
            <p>{{userDetails?.bio}}</p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-around ion-padding-vertical">
        <ion-col size="4" class="ion-text-center">
          <ion-text>Followers</ion-text>
          <p>{{userDetails?.followersCount}}</p>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-text>Following</ion-text>
          <p>{{userDetails?.followingCount}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-modal
      #modal
      trigger="edit-profile"
      [initialBreakpoint]="1"
      [breakpoints]="[0, 0.5, 1]"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Edit Profile</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding">
          <form #profileForm="ngForm" (ngSubmit)="updateProfile()">
            <ion-list class="ion-padding">
              <ion-item lines="full">
                <ion-input
                  type="file"
                  label="Profile picture"
                  color="light"
                  (change)="uploadFile($event)"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-input
                  label="Username"
                  labelPlacement="floating"
                  required
                  [(ngModel)]="editableUserDetails.username"
                  name="username"
                  #usernameInput="ngModel"
                ></ion-input>
              </ion-item>
              <div
                *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)"
              >
                <ion-note color="danger">Username is required.</ion-note>
              </div>

              <ion-item>
                <ion-input
                  label="Name"
                  labelPlacement="floating"
                  required
                  [(ngModel)]="editableUserDetails.name"
                  name="name"
                  #nameInput="ngModel"
                ></ion-input>
              </ion-item>
              <div
                *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
              >
                <ion-note color="danger">Name is required.</ion-note>
              </div>

              <ion-item>
                <ion-textarea
                  label="Bio"
                  labelPlacement="floating"
                  [(ngModel)]="editableUserDetails.bio"
                  name="bio"
                  required
                ></ion-textarea>
              </ion-item>
            </ion-list>
          </form>
        </ion-content>

        <ion-footer>
          <ion-button
            expand="block"
            color="tertiary"
            type="submit"
            [disabled]="profileForm.invalid"
            (click)="updateProfile()"
          >
            Update
          </ion-button>
        </ion-footer>
      </ng-template>
    </ion-modal>

    <ion-toolbar>
      <ion-segment
        value="Your-Posts"
        mode="ios"
        (ionChange)="segmentChange($event)"
      >
        <ion-segment-button value="Your-Posts">
          <ion-label>Your Posts</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Saved-Posts">
          <ion-label>Saved Posts</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <ion-grid>
      <ion-row *ngIf="segmentValue === 'Your-Posts'">
        <ng-container
          *ngIf="ThisUserPosts && ThisUserPosts.length > 0; else noPosts"
        >
          <ion-col size="6" *ngFor="let post of ThisUserPosts">
            <ion-card mode="ios" class="post-card">
              <ion-img [src]="post.postLink" class="post-image"></ion-img>
              <div class="post-overlay">
                <ion-button fill="clear" color="dark">
                  <ion-icon name="heart" color="primary"></ion-icon>
                  <span>{{ post.likes }}</span>
                </ion-button>
                <ion-button fill="clear" (click)="openCommentModal(post.id)">
                  <ion-icon color="dark" name="chatbubble-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-card>
          </ion-col>
        </ng-container>
      </ion-row>

      <ng-template #noPosts>
        <ion-row>
          <ion-col size="12" class="ion-justify-content-center">
            <p>No posts available in Your Posts.</p>
          </ion-col>
        </ion-row>
      </ng-template>

      <ion-row *ngIf="segmentValue === 'Saved-Posts'">
        <ion-col size="6" *ngFor="let savedPost of savedPost">
          <ion-card mode="ios" class="saved-post-card">
            <ion-img [src]="savedPost.postLink" class="post-image"></ion-img>
            <ion-badge color="warning" class="post-user-badge"
              >&#64; {{savedPost.userName}}</ion-badge
            >
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-modal
      #modal
      [isOpen]="isModalOpen"
      (ionModalDidDismiss)="closeModal()"
      [initialBreakpoint]="1"
      [breakpoints]="[0, 0.5, 1]"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Comments</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list *ngFor="let comment of postComments">
            <ion-item>
              <ion-avatar slot="start">
                <img [src]="comment.profilePic" alt="" />
              </ion-avatar>
              <ion-label>
                <p>{{ comment.userName }}</p>
                {{ comment.comment }}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
        <ion-footer>
          <ion-toolbar>
            <form #f="ngForm" (ngSubmit)="addComment(selectedPost)">
              <ion-item>
                <ion-input
                  placeholder="Write comments..."
                  [(ngModel)]="comments"
                  name="comment"
                  required
                ></ion-input>
                <ion-buttons slot="end">
                  <ion-button type="submit" [disabled]="f.invalid">
                    <ion-icon name="send-outline" color="medium"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </form>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>

    <ion-alert
      trigger="logoutAlert"
      header="Logout Confirmation"
      mode="ios"
      message="Are you sure you want to logout?"
      [buttons]="logoutButtons"
    ></ion-alert>
  </ion-content>
</div>
