<ion-content mode="ios">
  <ion-header class="ion-padding">
    <ion-label class="ion-text-center">
      <h1>vibo</h1>
      <p>Feel the Vibe, Share the Moment</p>
    </ion-label>
  </ion-header>


  <form #loginForm="ngForm" >
    <ion-list class="ion-padding">


      <ion-item lines="none">
        <ion-title class="ion-text-center" size="large" mode="md">Login</ion-title>
      </ion-item>

   
      <ion-item>
        <ion-input
          label="Email"
          labelPlacement="floating"
          type="email"
          name="email"
          [(ngModel)]="email"
          #emailCtrl="ngModel"
          required
          email
        ></ion-input>
      </ion-item>

  
      <ion-item *ngIf="emailCtrl.invalid && emailCtrl.touched" lines="none">
        <ion-label color="danger" >
          <p *ngIf="emailCtrl.errors?.['required']">Email is required!</p>
          <p *ngIf="emailCtrl.errors?.['email']">Please enter a valid email!</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-input
          label="Password"
          type="password"
          labelPlacement="floating"
          name="password"
          [(ngModel)]="password"
          #passwordCtrl="ngModel"
          required
          minlength="6"
        ></ion-input>
      </ion-item>


      <ion-item *ngIf="passwordCtrl.invalid && passwordCtrl.touched" lines="none">
        <ion-label>
          <p *ngIf="passwordCtrl.errors?.['required']">Password is required!</p>
          <p *ngIf="passwordCtrl.errors?.['minlength']">
            Password must be at least 6 characters long!
          </p>
        </ion-label>
      </ion-item>


      <ion-item lines="none">
        <ion-label>
          <p routerLink="/forgot-password">Forgot Password?</p>
        </ion-label>
      </ion-item>


      <ion-item lines="none">
        <ion-button
          color="tertiary"
          size="default"
          expand="block"
          type="submit"
          [disabled]="loginForm.invalid"
          (click)="login()"
        >Login</ion-button>
      </ion-item>


      <div class="ion-padding">
        <ion-label>Don't have an account? <a [routerLink]="['/register']" >Register</a></ion-label>
      </div>
    </ion-list>
  </form>
</ion-content>
