ion-header {
  ion-toolbar {
    ion-title {
      font-family: "League Spartan", sans-serif;
    }
  }
} ion-content {
  ion-item{
    --background: transparent;
  }
  .userName-label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90px;
  }
  .location-label{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }
  .avatar{
    width: 90px;
    height: 90px;
    border: 2px solid var(--ion-color-primary);
    padding: 3px;
  }
  ion-button{
  text-transform: lowercase;

  }
}
