ion-header {
  ion-toolbar {
    --min-height: 60px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    font-family: "Miltonian Tattoo", serif;
  }
} ion-content {
  ion-item{
    --background: transparent;
  }
  .userName-label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90px;
  }
  .location-label{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }
  .avatar{
    width: 90px;
    height: 90px;
    border: 2px solid var(--ion-color-primary);
    padding: 3px;
  }

}
