<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title mode="md" >Create Post</ion-title>
    <ion-buttons slot="end" >
      <ion-button *ngIf="imagePreview || postForm.valid" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-loading></ion-loading>
  <form #postForm="ngForm">
    <ion-card class="ion-padding">
      <ion-button size="large" color="primary">
        <input
          type="file"
          accept="image/*"
          (change)="uploadFile($event)"
          required
          name="post"
          style="display: none;"
          id="fileInput"
        />
        <label for="fileInput" style="cursor: pointer;">Upload Image</label>
      </ion-button>
      <img [src]="imagePreview" *ngIf="imagePreview" alt="Image Preview" />
    </ion-card>

    <ion-list class="ion-margin">
      <ion-item>
        <ion-input
          type="text"
          label="What's on your mind?"
          labelPlacement="floating"
          required
          [(ngModel)]="caption"
          name="postContent"
          #postContentInput="ngModel"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          label="Add location"
          labelPlacement="floating"
          [(ngModel)]="location"
          name="location"
          (ionInput)="getLocationSuggestions()"
          required
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="locationSuggestions.length>0" class="ion-margin ion-padding">
      <ion-note>Suggestions</ion-note>
      <ion-item class="ion-padding-top" *ngFor="let suggestion of locationSuggestions" (click)="selectedLocation(suggestion)"><ion-icon name="location-outline" slot="start"></ion-icon> {{suggestion.display_name}}</ion-item>
    </ion-list>
  </form>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="secondary" (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-button
    type="submit"
    size="default"
    color="primary"
    expand="block"
    [disabled]="postForm.invalid"
    (click)="createPost(postForm)"
  >
    Post
  </ion-button>
</ion-footer>

<ion-toast
  [isOpen]="showToast"
  message="{{ toastMessage }}"
  duration="3000"
  position="top"
  (didDismiss)="showToast = false"
></ion-toast>
